################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MAUINavigationIssue/.vs
/MAUINavigationIssue/MAUINavigationIssue/obj
/MAUINavigationIssue/MAUINavigationIssue/bin
